Admin__Email=
Admin__Password=
ConnectionStrings__DefaultConnection=
Cors__Frontend=
GitHub__SyncIntervalHours=
GitHub__Token=
GitHub__Username=
Jwt__Audience=
Jwt__Issuer=
Jwt__Secret=
VITE_API_BASE_URL=